[Unit]
Description=GoKabootar
Documentation=https://github.com/psi-4ward/GoKabootar
After=network.target

[Service]
Type=simple
User=GoKabootar
Restart=on-failure

Environment=NODE_ENV=production
Environment=GoKabootar_PORT=8080

WorkingDirectory=/opt/GoKabootar
ExecStart=/usr/bin/node app.js

[Install]
WantedBy=multi-user.target
